body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: linear-gradient(red, purple, pink);
  color: white; */
  background: linear-gradient(#e66465, #9198e5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.center {
  text-align: center;
  margin-left:100px;
  margin-right:100px;
}
ul {
  list-style: none;
}

li {
  margin-top: 8px;
  background-color: darkblue;
  padding: 16px;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 20px;
  color: white;
}

h3{
  color: black;
  font-size: 24px;
}


